/dcu/
/ATM Server/__history/
/ATM Server/bin/logs/
/ATM Server/ATMServer.dproj.local
/ATM Server/ATMServer.dsk
/ATM Server/ATMServer.identcache
/ATM Server/ATMServer.~dsk
/ATM Server/bin/ATMServer.exe
